<%- include('../../templates/header'); -%>

<h1>
  <%= user.username %> / <%= item.title %> (<%=
  item.visibility %>)
</h1>

<h2>Create new item</h2>

<form
  action="/<%= user.username %>/<%= item.slug %>/new"
  method="POST"
>
  <label for="childItemTitle">Title</label>
  <input type="text" name="childItemTitle" />
  <label for="childItemIsPrivate">Is private</label>
  <input type="checkbox" name="childItemIsPrivate" />
  <input type="submit" value="Create item" />
</form>

<%- include('../../templates/footer'); -%>
