<%- include('../../templates/header'); -%>

<h1>
  <%= user.username %> / <%= item.title %> (<%=
  item.visibility %>)
</h1>

<h2>Move item</h2>

<% if (items.length){ %>
  <form
    action="/<%= user.username %>/<%= item.slug %>/move"
    method="POST"
  >
    <% items.forEach(function(item) { %>
      <input type="radio" value="<%= item.slug %>" id="<%= item.slug %>" name="toItemSlug">
      <label for="<%= item.slug %>"><%= item.title %> (<%= item.visibility %>)</label>
      <br />
    <% }); %>

    <button type="submit">Move</button>
  </form>
<% } %> <%- include('../../templates/footer'); -%>
