<%- include('../../templates/header'); -%>

<h1>
  <%= user.username %> / <%= item.title %> (<%=
  item.visibility %>)
</h1>

<% if (item.items.length){ %>
<ul>
  <% item.items.forEach(function(item) { %>
  <li>
    <a href="/<%= user.username %>/<%= item.slug %>"
      ><%= item.title %> (<%= item.visibility %>)</a
    >
  </li>
  <% }); %>
</ul>
<% } %>

<a href="/<%= user.username %>/<%= item.slug %>/edit"
  >Edit item</a
>

<a href="/<%= user.username %>/<%= item.slug %>/move"
  >Move item</a
>

<a href="/<%= user.username %>/<%= item.slug %>/delete"
  >Delete item</a
>

<a href="/<%= user.username %>/<%= item.slug %>/new"
  >Create new item</a
>

<%- include('../../templates/footer'); -%>
